{% extends "baseHTML.twig" %}

{% block body %}

    <div class="row">
    <input type="submit" class="form-control btn-success mt-5" id="input.Password" value="supervise">
    <input type="submit" class="form-control btn-success mt-2" id="input.Password" value="not supervise">
    </div>

{% endblock %}


{% block footer %}



{% endblock %}

{% block script %}

{% endblock %}