{% extends "baseHTML.twig" %}

{% block body %}

    <div class="container">
        <div class="row mx-auto">
            <a></a>
            {% for i in range(amountChambermodals, 1) %}
                <a class="btn btn-success">{{ i }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}

