{% extends "baseHTML.twig" %}

{% block body %}
    <div class="custom-file mt-3">
        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
        <label class="custom-file-label" for="validatedCustomFile">Choose waybill</label>
        <div class="invalid-feedback">Invalid file</div>
    </div>
    <input type="submit" class="float-right btn btn-block btn-select" value="submit">
{% endblock %}

