{% extends "baseHTML.twig" %}

{% block body %}
    <form name="uploadformular" enctype="multipart/form-data" action="dateiupload.php" method="post">

        Datei: <input type="file" name="uploaddatei" size="60" maxlength="255">

        <input type="Submit" name="submit" value="Datei hochladen">

    </form>
{% endblock %}

